In [1]:
a = 5
b = 10
print(a+b)

15

In [32]:
list = [20,30,50,50,48,49,48]
list.append(320)
list

[20, 30, 50, 50, 48, 49, 48, 320]

In [26]:
dict = {"name": "Ababio","age": 19, "status": "single"}
dict["name"]
dict["age"]
dict.keys()
dict.values()

dict_values(['Ababio', 19, 'single'])

In [27]:
company = {"first":["apple","microsoft"],"second":["IBM","amazon"],"third":["cocobod","goggle"]}
company.values()

dict_values([['apple', 'microsoft'], ['IBM', 'amazon'], ['cocobod', 'goggle']])

In [33]:
!pip install pandas

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (0.24.2)
Requirement already satisfied: numpy>=1.12.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.16.4)
Requirement already satisfied: pytz>=2011k in c:\programdata\anaconda3\lib\site-packages (from pandas) (2019.1)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

In [6]:
import pandas as pd
df = pd.read_csv("PANDA_DATA.csv")

In [10]:
df.head()

NameError: name 'df' is not defined

In [42]:
dates = pd.DataFrame({"A": [1,2,3],"B":["APPLE","MICROSOFT","GOOGLE"],"C":["2020-04-01","2020-05-01","2020-06-01"]})
dates

   A          B           C
0  1      APPLE  2020-04-01
1  2  MICROSOFT  2020-05-01
2  3     GOOGLE  2020-06-01

In [43]:
dates.dtypes

A     int64
B    object
C    object
dtype: object

In [44]:
dates["C"]=pd.to_datetime(dates["C"])

In [45]:
dates.dtypes

A             int64
B            object
C    datetime64[ns]
dtype: object

In [47]:
pd.to_datetime(["2020-sep-03","abc"], errors = "coerce")

DatetimeIndex(['2020-09-03', 'NaT'], dtype='datetime64[ns]', freq=None)

In [48]:
df.describe(include = "all")

,Date,Customer Acquisition Type,State,Product,Price,Units,Revenue,Delivery Performance,Return,Customer Satisfaction
count,5780,5780,5780,5780,5780.000000,5780.000000,5780.000000,5780,5780,5780
unique,1095,3,7,5,NaN,NaN,NaN,2,2,5
top,1/2/2018,Ad,Florida,Product 5,NaN,NaN,NaN,on-time,no,(3) ok
freq,33,1982,859,1171,NaN,NaN,NaN,3889,5184,2308
mean,NaN,NaN,NaN,NaN,300.089965,5.489965,1658.454671,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,141.153833,2.861890,1248.018521,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,99.000000,1.000000,99.000000,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,199.000000,3.000000,598.000000,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,299.000000,5.000000,1393.000000,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,399.000000,8.000000,2394.000000,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,499.000000,10.000000,4990.000000,NaN,NaN,NaN

In [68]:
dashboard = df.loc[:,"Date"]
type(dashboard)

pandas.core.series.Series

In [74]:
df.loc[0:4,["Date","Customer Acquisition Type","State"]]

       Date Customer Acquisition Type           State
0  1/1/2017                        Ad         Florida
1  1/1/2017                 Returning  North Carolina
2  1/2/2017                   Organic     Mississippi
3  1/3/2017                   Organic         Florida
4  1/3/2017                 Returning     Mississippi

In [1]:
df
df.loc[df["Price"] > 200]

NameError: name 'df' is not defined

In [9]:
df1 = df.loc[(df["Price"] > 200 ) & (df["State"].isin(["Florida","Georgia"]))]
df1.reset_index(inplace = True, drop = True )

df1

,Date,Customer Acquisition Type,State,Product,Price,Units,Revenue,Delivery Performance,Return,Customer Satisfaction
0,1/3/2017,Returning,Florida,Product 1,499,6,2994,delayed,no,(2) low
1,1/3/2017,Ad,Georgia,Product 5,399,7,2793,on-time,no,(5) very high
2,1/3/2017,Organic,Georgia,Product 1,499,1,499,on-time,no,(3) ok
3,1/5/2017,Organic,Florida,Product 1,499,10,4990,delayed,no,(4) high
4,1/6/2017,Ad,Florida,Product 1,499,5,2495,on-time,no,(3) ok
5,1/6/2017,Returning,Georgia,Product 5,399,8,3192,delayed,no,(2) low
6,1/6/2017,Organic,Georgia,Product 3,299,10,2990,delayed,no,(3) ok
7,1/6/2017,Returning,Florida,Product 3,299,7,2093,delayed,no,(2) low
8,1/7/2017,Ad,Georgia,Product 5,399,6,2394,on-time,no,(3) ok
9,1/8/2017,Returning,Georgia,Product 5,399,8,3192,on-time,no,(3) ok
10,1/10/2017,Organic,Georgia,Product 1,499,7,3493,delayed,no,(3) ok
11,1/12/2017,Returning,Georgia,Product 3,299,6,1794,on-time,no,(4) high
12,1/13/2017,Organic,Georgia,Product 3,299,4,1196,delayed,no,(3) ok
13,1/13/2017,Ad,Florida,Product 1,499,2,998,delayed,no,(4) high
14,1/13/2017,Organic,Florida,Product 5,399,1,399,on-time,no,(4) high
15,1/13/2017,Ad,Georgia,Product 1,499,5,2495,on-time,no,(3) ok
16,1/16/2017,Returning,Florida,Product 5,399,9,3591,on-time,no,(4) high
17,1/16/2017,Organic,Florida,Product 3,299,8,2392,on-time,no,(2) low
18,1/18/2017,Ad,Georgia,Product 1,499,3,1497,delayed,no,(1) very low
19,1/19/2017,Organic,Georgia,Product 5,399,3,1197,on-time,no,(2) low
20,1/20/2017,Ad,Florida,Product 3,299,2,598,on-time,no,(2) low
21,1/21/2017,Ad,Florida,Product 3,299,1,299,on-time,no,(1) very low
22,1/21/2017,Returning,Georgia,Product 3,299,4,1196,delayed,no,(4) high
23,1/21/2017,Organic,Georgia,Product 1,499,8,3992,on-time,no,(4) high
24,1/27/2017,Returning,Georgia,Product 5,399,6,2394,on-time,no,(2) low
25,1/28/2017,Organic,Florida,Product 3,299,3,897,on-time,no,(1) very low
26,1/28/2017,Ad,Georgia,Product 1,499,9,4491,on-time,no,(1) very low
27,2/2/2017,Ad,Georgia,Product 5,399,4,1596,delayed,no,(2) low
28,2/4/2017,Organic,Florida,Product 5,399,2,798,on-time,no,(1) very low
29,2/5/2017,Organic,Florida,Product 3,299,9,2691,on-time,no,(2) low
...,...,...,...,...,...,...,...,...,...,...
988,11/29/2019,Returning,Georgia,Product 1,499,6,2994,on-time,no,(3) ok
989,11/30/2019,Organic,Georgia,Product 5,399,5,1995,delayed,yes,(4) high
990,12/3/2019,Returning,Georgia,Product 3,299,9,2691,on-time,no,(3) ok
991,12/6/2019,Returning,Florida,Product 1,499,9,4491,delayed,no,(2) low
992,12/7/2019,Returning,Florida,Product 5,399,6,2394,on-time,no,(3) ok
993,12/7/2019,Ad,Florida,Product 1,499,7,3493,on-time,yes,(2) low
994,12/7/2019,Ad,Georgia,Product 3,299,1,299,on-time,no,(5) very high
995,12/8/2019,Ad,Florida,Product 1,499,4,1996,on-time,no,(4) high
996,12/8/2019,Organic,Georgia,Product 3,299,1,299,on-time,no,(3) ok
997,12/9/2019,Organic,Georgia,Product 1,499,7,3493,on-time,no,(1) very low
998,12/9/2019,Organic,Georgia,Product 1,499,10,4990,on-time,no,(4) high
999,12/9/2019,Organic,Florida,Product 3,299,8,2392,on-time,no,(4) high
1000,12/10/2019,Returning,Georgia,Product 5,399,5,1995,delayed,no,(5) very high
1001,12/11/2019,Ad,Florida,Product 5,399,9,3591,on-time,no,(3) ok
1002,12/12/2019,Returning,Florida,Product 1,499,9,4491,delayed,no,(3) ok
1003,12/13/2019,Organic,Florida,Product 1,499,8,3992,delayed,no,(4) high
1004,12/13/2019,Organic,Florida,Product 1,499,3,1497,delayed,yes,(3) ok
1005,12/14/2019,Ad,Georgia,Product 1,499,1,499,on-time,no,(3) ok
1006,12/15/2019,Ad,Georgia,Product 5,399,5,1995,delayed,no,(2) low
1007,12/15/2019,Ad,Georgia,Product 3,299,2,598,delayed,no,(4) high
1008,12/16/2019,Ad,Florida,Product 3,299,1,299,delayed,no,(3) ok
1009,12/16/2019,Organic,Georgia,Product 3,299,9,2691,on-time,no,(3) ok
1010,12/17/2019,Returning,Florida,Product 3,299,8,2392,on-time,no,(3) ok
1011,12/18/2019,Ad,Georgia,Product 1,499,8,3992,on-time,no,(4) high
1012,12/23/2019,Returning,Georgia,Product 1,499,6,2994,delayed,no,(5) very high
1013,12/25/2019,Ad,Georgia,Product 1,499,9,4491,delayed,no,(3) ok
1014,12/26/2019,Ad,Georgia,Product 5,399,10,3990,on-time,no,(3) ok
1015,12/27/2019,Ad,Florida,Product 1,499,5,2495,delayed,no,(3) ok
1016,12/30/2019,Ad,Florida,Product 5,399,1,399,on-time,no,(3) ok
1017,12/30/2019,Returning,Florida,Product 5,399,9,3591,on-time,no,(1) very low

In [20]:
df.sort_values(by = ["State","Price","Revenue"], ascending = ["True","False","False"])
#df

,Date,Customer Acquisition Type,State,Product,Price,Units,Revenue,Delivery Performance,Return,Customer Satisfaction
65,1/13/2017,Ad,Alabama,Product 4,99,1,99,on-time,no,(3) ok
486,4/13/2017,Ad,Alabama,Product 4,99,1,99,on-time,no,(2) low
584,4/30/2017,Returning,Alabama,Product 4,99,1,99,on-time,no,(2) low
1271,8/21/2017,Returning,Alabama,Product 4,99,1,99,on-time,no,(4) high
1401,9/14/2017,Returning,Alabama,Product 4,99,1,99,on-time,no,(5) very high
1696,10/30/2017,Organic,Alabama,Product 4,99,1,99,on-time,yes,(4) high
2323,2/17/2018,Organic,Alabama,Product 4,99,1,99,on-time,no,(1) very low
3634,10/17/2018,Ad,Alabama,Product 4,99,1,99,on-time,no,(5) very high
3844,11/28/2018,Organic,Alabama,Product 4,99,1,99,on-time,no,(3) ok
4153,1/29/2019,Ad,Alabama,Product 4,99,1,99,delayed,no,(5) very high
4532,4/24/2019,Organic,Alabama,Product 4,99,1,99,delayed,no,(5) very high
4667,5/25/2019,Ad,Alabama,Product 4,99,1,99,on-time,no,(4) high
4709,5/31/2019,Organic,Alabama,Product 4,99,1,99,on-time,no,(3) ok
4715,6/1/2019,Returning,Alabama,Product 4,99,1,99,delayed,no,(3) ok
277,2/28/2017,Ad,Alabama,Product 4,99,2,198,on-time,no,(4) high
657,5/14/2017,Ad,Alabama,Product 4,99,2,198,on-time,no,(3) ok
1582,10/12/2017,Returning,Alabama,Product 4,99,2,198,delayed,no,(2) low
1634,10/22/2017,Ad,Alabama,Product 4,99,2,198,delayed,no,(3) ok
2044,12/26/2017,Ad,Alabama,Product 4,99,2,198,delayed,no,(3) ok
2291,2/12/2018,Returning,Alabama,Product 4,99,2,198,on-time,no,(3) ok
2802,5/6/2018,Organic,Alabama,Product 4,99,2,198,on-time,no,(5) very high
2814,5/9/2018,Ad,Alabama,Product 4,99,2,198,on-time,no,(4) high
3062,6/29/2018,Ad,Alabama,Product 4,99,2,198,delayed,no,(4) high
3822,11/25/2018,Organic,Alabama,Product 4,99,2,198,on-time,no,(2) low
3963,12/22/2018,Organic,Alabama,Product 4,99,2,198,delayed,no,(3) ok
4181,1/31/2019,Ad,Alabama,Product 4,99,2,198,on-time,no,(2) low
4329,3/11/2019,Organic,Alabama,Product 4,99,2,198,delayed,no,(3) ok
4340,3/13/2019,Ad,Alabama,Product 4,99,2,198,on-time,no,(3) ok
4727,6/4/2019,Returning,Alabama,Product 4,99,2,198,delayed,no,(3) ok
5025,7/30/2019,Ad,Alabama,Product 4,99,2,198,on-time,no,(4) high
...,...,...,...,...,...,...,...,...,...,...
757,6/3/2017,Returning,Tennessee,Product 1,499,9,4491,on-time,no,(3) ok
909,6/27/2017,Returning,Tennessee,Product 1,499,9,4491,delayed,no,(2) low
1730,11/3/2017,Returning,Tennessee,Product 1,499,9,4491,delayed,no,(1) very low
1831,11/16/2017,Ad,Tennessee,Product 1,499,9,4491,delayed,no,(2) low
2206,1/28/2018,Organic,Tennessee,Product 1,499,9,4491,on-time,no,(3) ok
2519,3/18/2018,Organic,Tennessee,Product 1,499,9,4491,on-time,no,(1) very low
2556,3/24/2018,Returning,Tennessee,Product 1,499,9,4491,delayed,no,(5) very high
3614,10/15/2018,Organic,Tennessee,Product 1,499,9,4491,on-time,no,(3) ok
4275,2/23/2019,Organic,Tennessee,Product 1,499,9,4491,delayed,no,(4) high
4336,3/12/2019,Returning,Tennessee,Product 1,499,9,4491,on-time,no,(2) low
4711,5/31/2019,Organic,Tennessee,Product 1,499,9,4491,delayed,no,(3) ok
4755,6/12/2019,Ad,Tennessee,Product 1,499,9,4491,on-time,no,(2) low
5148,8/18/2019,Organic,Tennessee,Product 1,499,9,4491,on-time,no,(3) ok
140,1/30/2017,Organic,Tennessee,Product 1,499,10,4990,on-time,no,(3) ok
520,4/21/2017,Returning,Tennessee,Product 1,499,10,4990,delayed,no,(3) ok
873,6/18/2017,Organic,Tennessee,Product 1,499,10,4990,delayed,no,(5) very high
988,7/13/2017,Organic,Tennessee,Product 1,499,10,4990,delayed,no,(5) very high
1224,8/16/2017,Ad,Tennessee,Product 1,499,10,4990,on-time,no,(3) ok
1370,9/7/2017,Organic,Tennessee,Product 1,499,10,4990,on-time,no,(5) very high
1787,11/10/2017,Ad,Tennessee,Product 1,499,10,4990,delayed,no,(3) ok
2046,12/26/2017,Organic,Tennessee,Product 1,499,10,4990,delayed,no,(3) ok
2817,5/9/2018,Organic,Tennessee,Product 1,499,10,4990,on-time,no,(1) very low
3147,7/15/2018,Ad,Tennessee,Product 1,499,10,4990,delayed,yes,(2) low
3771,11/14/2018,Ad,Tennessee,Product 1,499,10,4990,delayed,no,(2) low
4022,12/31/2018,Organic,Tennessee,Product 1,499,10,4990,delayed,no,(3) ok
4038,1/5/2019,Returning,Tennessee,Product 1,499,10,4990,on-time,no,(3) ok
4055,1/10/2019,Ad,Tennessee,Product 1,499,10,4990,delayed,no,(3) ok
4762,6/13/2019,Returning,Tennessee,Product 1,499,10,4990,on-time,yes,(4) high
4819,6/25/2019,Organic,Tennessee,Product 1,499,10,4990,on-time,no,(3) ok
4850,6/28/2019,Organic,Tennessee,Product 1,499,10,4990,on-time,no,(3) ok

In [11]:
import numpy as np
df["price_value"] = np.where(df["Price"] > 300 , "High Price","Low Price")

NameError: name 'df' is not defined

In [41]:
df.head()

,Date,Customer Acquisition Type,State,Product,Price,Units,Revenue,Delivery Performance,Return,Customer Satisfaction,price_value
0,1/1/2017,Ad,Florida,Product 2,199,4,796,on-time,no,(2) low,Low Price
1,1/1/2017,Returning,North Carolina,Product 3,299,9,2691,on-time,no,(1) very low,Low Price
2,1/2/2017,Organic,Mississippi,Product 2,199,6,1194,on-time,no,(3) ok,Low Price
3,1/3/2017,Organic,Florida,Product 4,99,3,297,delayed,no,(2) low,Low Price
4,1/3/2017,Returning,Mississippi,Product 2,199,7,1393,on-time,no,(3) ok,Low Price

In [49]:
df.groupby(["Customer Acquisition Type","State"])["Revenue"].agg(["mean","sum"])

                                                 mean     sum
Customer Acquisition Type State
Ad                        Alabama         1700.064748  472618
                          Florida         1634.897527  462676
                          Georgia         1566.754266  459059
                          Mississippi     1704.735395  496078
                          North Carolina  1708.967972  480220
                          South Carolina  1656.845324  460603
                          Tennessee       1492.561151  414932
Organic                   Alabama         1580.318352  421945
                          Florida         1716.785714  480700
                          Georgia         1665.522968  471343
                          Mississippi     1732.227106  472898
                          North Carolina  1521.415385  395568
                          South Carolina  1737.618123  536924
                          Tennessee       1722.367273  473651
Returning                 Alabama         1777.236434  458527
                          Florida         1584.729730  469080
                          Georgia         1700.935849  450748
                          Mississippi     1676.366255  407357
                          North Carolina  1655.083019  438597
                          South Carolina  1650.835821  442424
                          Tennessee       1640.312500  419920

In [1]:
df["Date"] = pd.to_datetime(df["Date"])
df.dtypes
df.groupby("State")["Revenue","Date"].agg({"Revenue": ["mean"], "Date": ["max","min"]})

NameError: name 'pd' is not defined

In [58]:
df

,Date,Customer Acquisition Type,State,Product,Price,Units,Revenue,Delivery Performance,Return,Customer Satisfaction,price_value
0,2017-01-01,Ad,Florida,Product 2,199,4,796,on-time,no,(2) low,Low Price
1,2017-01-01,Returning,North Carolina,Product 3,299,9,2691,on-time,no,(1) very low,Low Price
2,2017-01-02,Organic,Mississippi,Product 2,199,6,1194,on-time,no,(3) ok,Low Price
3,2017-01-03,Organic,Florida,Product 4,99,3,297,delayed,no,(2) low,Low Price
4,2017-01-03,Returning,Mississippi,Product 2,199,7,1393,on-time,no,(3) ok,Low Price
5,2017-01-03,Returning,Florida,Product 1,499,6,2994,delayed,no,(2) low,High Price
6,2017-01-03,Organic,Georgia,Product 2,199,4,796,on-time,yes,(3) ok,Low Price
7,2017-01-03,Organic,South Carolina,Product 4,99,5,495,on-time,no,(3) ok,Low Price
8,2017-01-03,Organic,South Carolina,Product 3,299,1,299,on-time,yes,(4) high,Low Price
9,2017-01-03,Ad,Georgia,Product 5,399,7,2793,on-time,no,(5) very high,High Price
10,2017-01-03,Returning,Mississippi,Product 5,399,1,399,on-time,yes,(3) ok,High Price
11,2017-01-03,Ad,Alabama,Product 3,299,4,1196,on-time,no,(5) very high,Low Price
12,2017-01-03,Returning,North Carolina,Product 2,199,4,796,on-time,no,(3) ok,Low Price
13,2017-01-03,Ad,Alabama,Product 1,499,10,4990,on-time,no,(3) ok,High Price
14,2017-01-03,Returning,Alabama,Product 4,99,6,594,on-time,no,(4) high,Low Price
15,2017-01-03,Organic,Georgia,Product 1,499,1,499,on-time,no,(3) ok,High Price
16,2017-01-03,Organic,South Carolina,Product 4,99,5,495,on-time,no,(2) low,Low Price
17,2017-01-04,Ad,North Carolina,Product 4,99,5,495,on-time,no,(4) high,Low Price
18,2017-01-05,Organic,Florida,Product 1,499,10,4990,delayed,no,(4) high,High Price
19,2017-01-05,Returning,South Carolina,Product 4,99,3,297,delayed,no,(3) ok,Low Price
20,2017-01-06,Organic,South Carolina,Product 3,299,3,897,on-time,no,(3) ok,Low Price
21,2017-01-06,Returning,Florida,Product 4,99,10,990,on-time,no,(5) very high,Low Price
22,2017-01-06,Ad,Mississippi,Product 1,499,10,4990,on-time,no,(4) high,High Price
23,2017-01-06,Organic,Mississippi,Product 1,499,1,499,on-time,no,(1) very low,High Price
24,2017-01-06,Ad,Tennessee,Product 5,399,7,2793,on-time,yes,(3) ok,High Price
25,2017-01-06,Ad,Florida,Product 1,499,5,2495,on-time,no,(3) ok,High Price
26,2017-01-06,Ad,South Carolina,Product 4,99,5,495,on-time,no,(3) ok,Low Price
27,2017-01-06,Organic,South Carolina,Product 3,299,3,897,on-time,no,(2) low,Low Price
28,2017-01-06,Organic,Florida,Product 4,99,7,693,on-time,no,(2) low,Low Price
29,2017-01-06,Returning,North Carolina,Product 1,499,8,3992,on-time,no,(4) high,High Price
...,...,...,...,...,...,...,...,...,...,...,...
5750,2019-12-27,Ad,Florida,Product 1,499,5,2495,delayed,no,(3) ok,High Price
5751,2019-12-28,Returning,Georgia,Product 4,99,4,396,on-time,no,(2) low,Low Price
5752,2019-12-29,Ad,Alabama,Product 5,399,5,1995,on-time,no,(4) high,High Price
5753,2019-12-30,Organic,North Carolina,Product 5,399,7,2793,delayed,no,(3) ok,High Price
5754,2019-12-30,Ad,Mississippi,Product 4,99,9,891,on-time,no,(5) very high,Low Price
5755,2019-12-30,Organic,Georgia,Product 2,199,9,1791,delayed,no,(4) high,Low Price
5756,2019-12-30,Ad,South Carolina,Product 1,499,2,998,delayed,no,(3) ok,High Price
5757,2019-12-30,Ad,South Carolina,Product 2,199,3,597,on-time,yes,(4) high,Low Price
5758,2019-12-30,Ad,Alabama,Product 3,299,6,1794,on-time,no,(4) high,Low Price
5759,2019-12-30,Returning,Georgia,Product 4,99,5,495,delayed,no,(3) ok,Low Price
5760,2019-12-30,Ad,Florida,Product 5,399,1,399,on-time,no,(3) ok,High Price
5761,2019-12-30,Organic,North Carolina,Product 1,499,5,2495,delayed,no,(5) very high,High Price
5762,2019-12-30,Ad,Mississippi,Product 5,399,5,1995,delayed,no,(3) ok,High Price
5763,2019-12-30,Organic,Tennessee,Product 5,399,2,798,on-time,no,(2) low,High Price
5764,2019-12-30,Ad,South Carolina,Product 5,399,1,399,delayed,yes,(4) high,High Price
5765,2019-12-30,Ad,South Carolina,Product 5,399,10,3990,on-time,no,(2) low,High Price
5766,2019-12-30,Returning,North Carolina,Product 3,299,4,1196,on-time,no,(2) low,Low Price
5767,2019-12-30,Ad,Georgia,Product 4,99,7,693,on-time,no,(2) low,Low Price
5768,2019-12-30,Organic,Tennessee,Product 2,199,1,199,on-time,yes,(3) ok,Low Price
5769,2019-12-30,Ad,Georgia,Product 2,199,9,1791,on-time,no,(4) high,Low Price
5770,2019-12-30,Ad,Alabama,Product 3,299,2,598,delayed,no,(5) very high,Low Price
5771,2019-12-30,Organic,Tennessee,Product 2,199,9,1791,on-time,no,(5) very high,Low Price
5772,2019-12-30,Ad,Mississippi,Product 2,199,10,1990,on-time,no,(3) ok,Low Price
5773,2019-12-30,Returning,South Carolina,Product 5,399,1,399,on-time,no,(3) ok,High Price
5774,2019-12-30,Ad,Mississippi,Product 1,499,9,4491,delayed,no,(5) very high,High Price
5775,2019-12-30,Returning,Florida,Product 5,399,9,3591,on-time,no,(1) very low,High Price
5776,2019-12-31,Organic,Georgia,Product 4,99,6,594,on-time,no,(3) ok,Low Price
5777,2019-12-31,Ad,South Carolina,Product 5,399,4,1596,on-time,no,(4) high,High Price
5778,2019-12-31,Returning,Tennessee,Product 1,499,3,1497,delayed,yes,(3) ok,High Price
5779,2019-12-31,Returning,Alabama,Product 2,199,6,1194,on-time,no,(4) high,Low Price

In [2]:
df

NameError: name 'df' is not defined

In [3]:
import pandas as pd
df = pd.read_csv("PANDA_DATA.csv")

In [15]:
df
df["Date"] = pd.to_datetime(df["Date"])
df_group = df.groupby("State")["Price","Date"].agg({"Price": ["mean"], "Date": ["max","min"]})
df_group.reset_index(inplace = True)
df_group.columns = ["STATES","MEAN PRICE","LATE DELIVERY","EARLY DELIVERY"]
df_group

           STATES  MEAN PRICE LATE DELIVERY EARLY DELIVERY
0         Alabama  304.603985    2019-12-31     2017-01-03
1         Florida  297.253783    2019-12-30     2017-01-01
2         Georgia  301.615933    2019-12-31     2017-01-03
3     Mississippi  295.282528    2019-12-30     2017-01-02
4  North Carolina  300.364764    2019-12-30     2017-01-01
5  South Carolina  301.573099    2019-12-31     2017-01-03
6       Tennessee  299.988875    2019-12-31     2017-01-06

In [19]:
df["Date"] = pd.to_datetime(df["Date"])
df_group = df.groupby("State")["Price","Date"].agg({"Price": ["mean"], "Date": ["max","min"]})
df_group.reset_index(inplace = True)
df_group.columns = ["STATES","MEAN_PRICE","LATE_DELIVERY","EARLY_DELIVERY"]
df_group
df_group.to_csv("ababio.csv")

In [10]:
a = [20,30,40,50,60]
a
b = [a[0],a[3]]
b
a.append(60)
a

[20, 30, 40, 50, 60, 60]

#this is very difficult

In [11]:
import pandas as pd
df = pd.read_csv("PANDA_DATA.csv")
df

,Date,Customer Acquisition Type,State,Product,Price,Units,Revenue,Delivery Performance,Return,Customer Satisfaction
0,1/1/2017,Ad,Florida,Product 2,199,4,796,on-time,no,(2) low
1,1/1/2017,Returning,North Carolina,Product 3,299,9,2691,on-time,no,(1) very low
2,1/2/2017,Organic,Mississippi,Product 2,199,6,1194,on-time,no,(3) ok
3,1/3/2017,Organic,Florida,Product 4,99,3,297,delayed,no,(2) low
4,1/3/2017,Returning,Mississippi,Product 2,199,7,1393,on-time,no,(3) ok
5,1/3/2017,Returning,Florida,Product 1,499,6,2994,delayed,no,(2) low
6,1/3/2017,Organic,Georgia,Product 2,199,4,796,on-time,yes,(3) ok
7,1/3/2017,Organic,South Carolina,Product 4,99,5,495,on-time,no,(3) ok
8,1/3/2017,Organic,South Carolina,Product 3,299,1,299,on-time,yes,(4) high
9,1/3/2017,Ad,Georgia,Product 5,399,7,2793,on-time,no,(5) very high
10,1/3/2017,Returning,Mississippi,Product 5,399,1,399,on-time,yes,(3) ok
11,1/3/2017,Ad,Alabama,Product 3,299,4,1196,on-time,no,(5) very high
12,1/3/2017,Returning,North Carolina,Product 2,199,4,796,on-time,no,(3) ok
13,1/3/2017,Ad,Alabama,Product 1,499,10,4990,on-time,no,(3) ok
14,1/3/2017,Returning,Alabama,Product 4,99,6,594,on-time,no,(4) high
15,1/3/2017,Organic,Georgia,Product 1,499,1,499,on-time,no,(3) ok
16,1/3/2017,Organic,South Carolina,Product 4,99,5,495,on-time,no,(2) low
17,1/4/2017,Ad,North Carolina,Product 4,99,5,495,on-time,no,(4) high
18,1/5/2017,Organic,Florida,Product 1,499,10,4990,delayed,no,(4) high
19,1/5/2017,Returning,South Carolina,Product 4,99,3,297,delayed,no,(3) ok
20,1/6/2017,Organic,South Carolina,Product 3,299,3,897,on-time,no,(3) ok
21,1/6/2017,Returning,Florida,Product 4,99,10,990,on-time,no,(5) very high
22,1/6/2017,Ad,Mississippi,Product 1,499,10,4990,on-time,no,(4) high
23,1/6/2017,Organic,Mississippi,Product 1,499,1,499,on-time,no,(1) very low
24,1/6/2017,Ad,Tennessee,Product 5,399,7,2793,on-time,yes,(3) ok
25,1/6/2017,Ad,Florida,Product 1,499,5,2495,on-time,no,(3) ok
26,1/6/2017,Ad,South Carolina,Product 4,99,5,495,on-time,no,(3) ok
27,1/6/2017,Organic,South Carolina,Product 3,299,3,897,on-time,no,(2) low
28,1/6/2017,Organic,Florida,Product 4,99,7,693,on-time,no,(2) low
29,1/6/2017,Returning,North Carolina,Product 1,499,8,3992,on-time,no,(4) high
...,...,...,...,...,...,...,...,...,...,...
5750,12/27/2019,Ad,Florida,Product 1,499,5,2495,delayed,no,(3) ok
5751,12/28/2019,Returning,Georgia,Product 4,99,4,396,on-time,no,(2) low
5752,12/29/2019,Ad,Alabama,Product 5,399,5,1995,on-time,no,(4) high
5753,12/30/2019,Organic,North Carolina,Product 5,399,7,2793,delayed,no,(3) ok
5754,12/30/2019,Ad,Mississippi,Product 4,99,9,891,on-time,no,(5) very high
5755,12/30/2019,Organic,Georgia,Product 2,199,9,1791,delayed,no,(4) high
5756,12/30/2019,Ad,South Carolina,Product 1,499,2,998,delayed,no,(3) ok
5757,12/30/2019,Ad,South Carolina,Product 2,199,3,597,on-time,yes,(4) high
5758,12/30/2019,Ad,Alabama,Product 3,299,6,1794,on-time,no,(4) high
5759,12/30/2019,Returning,Georgia,Product 4,99,5,495,delayed,no,(3) ok
5760,12/30/2019,Ad,Florida,Product 5,399,1,399,on-time,no,(3) ok
5761,12/30/2019,Organic,North Carolina,Product 1,499,5,2495,delayed,no,(5) very high
5762,12/30/2019,Ad,Mississippi,Product 5,399,5,1995,delayed,no,(3) ok
5763,12/30/2019,Organic,Tennessee,Product 5,399,2,798,on-time,no,(2) low
5764,12/30/2019,Ad,South Carolina,Product 5,399,1,399,delayed,yes,(4) high
5765,12/30/2019,Ad,South Carolina,Product 5,399,10,3990,on-time,no,(2) low
5766,12/30/2019,Returning,North Carolina,Product 3,299,4,1196,on-time,no,(2) low
5767,12/30/2019,Ad,Georgia,Product 4,99,7,693,on-time,no,(2) low
5768,12/30/2019,Organic,Tennessee,Product 2,199,1,199,on-time,yes,(3) ok
5769,12/30/2019,Ad,Georgia,Product 2,199,9,1791,on-time,no,(4) high
5770,12/30/2019,Ad,Alabama,Product 3,299,2,598,delayed,no,(5) very high
5771,12/30/2019,Organic,Tennessee,Product 2,199,9,1791,on-time,no,(5) very high
5772,12/30/2019,Ad,Mississippi,Product 2,199,10,1990,on-time,no,(3) ok
5773,12/30/2019,Returning,South Carolina,Product 5,399,1,399,on-time,no,(3) ok
5774,12/30/2019,Ad,Mississippi,Product 1,499,9,4491,delayed,no,(5) very high
5775,12/30/2019,Returning,Florida,Product 5,399,9,3591,on-time,no,(1) very low
5776,12/31/2019,Organic,Georgia,Product 4,99,6,594,on-time,no,(3) ok
5777,12/31/2019,Ad,South Carolina,Product 5,399,4,1596,on-time,no,(4) high
5778,12/31/2019,Returning,Tennessee,Product 1,499,3,1497,delayed,yes,(3) ok
5779,12/31/2019,Returning,Alabama,Product 2,199,6,1194,on-time,no,(4) high

In [16]:
df.head()
df.shape

(5780, 10)

In [18]:
change = pd.DataFrame({"Microsoft":["Sundar","Bill","Balmer"],"Google":["Paige","Sundar","Allen"],"Date":["21-01-2021","22-01-2021","23-01-2021"]})
change

  Microsoft  Google        Date
0    Sundar   Paige  21-01-2021
1      Bill  Sundar  22-01-2021
2    Balmer   Allen  23-01-2021

In [21]:
change.dtypes
pd.to_datetime("2021-01-23")
change["Date"] = pd.to_datetime(change["Date"])

In [22]:
change

  Microsoft  Google       Date
0    Sundar   Paige 2021-01-21
1      Bill  Sundar 2021-01-22
2    Balmer   Allen 2021-01-23

In [23]:
change.dtypes

Microsoft            object
Google               object
Date         datetime64[ns]
dtype: object

In [26]:
df.describe(include = "all")

,Date,Customer Acquisition Type,State,Product,Price,Units,Revenue,Delivery Performance,Return,Customer Satisfaction
count,5780,5780,5780,5780,5780.000000,5780.000000,5780.000000,5780,5780,5780
unique,1095,3,7,5,NaN,NaN,NaN,2,2,5
top,1/2/2018,Ad,Florida,Product 5,NaN,NaN,NaN,on-time,no,(3) ok
freq,33,1982,859,1171,NaN,NaN,NaN,3889,5184,2308
mean,NaN,NaN,NaN,NaN,300.089965,5.489965,1658.454671,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,141.153833,2.861890,1248.018521,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,99.000000,1.000000,99.000000,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,199.000000,3.000000,598.000000,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,299.000000,5.000000,1393.000000,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,399.000000,8.000000,2394.000000,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,499.000000,10.000000,4990.000000,NaN,NaN,NaN

In [29]:
df["State"].value_counts()

Florida           859
South Carolina    855
Georgia           841
Tennessee         809
Mississippi       807
North Carolina    806
Alabama           803
Name: State, dtype: int64

In [3]:
import pandas as pd
df = pd.read_csv("PANDA_DATA.csv")

In [7]:
a = df.head()
a
a.iloc[0:5,0:3]

       Date Customer Acquisition Type           State
0  1/1/2017                        Ad         Florida
1  1/1/2017                 Returning  North Carolina
2  1/2/2017                   Organic     Mississippi
3  1/3/2017                   Organic         Florida
4  1/3/2017                 Returning     Mississippi

In [3]:
import pandas as pd
df = pd.read_csv("PANDA_DATA.csv")
df

,01/01/2017,Ad,Florida,Product 2,199,4,796,on-time,no,(2) low
0,01/01/2017,Returning,North Carolina,Product 3,299,9,2691,on-time,no,(1) very low
1,01/02/2017,Organic,Mississippi,Product 2,199,6,1194,on-time,no,(3) ok
2,01/03/2017,Organic,Florida,Product 4,99,3,297,delayed,no,(2) low
3,01/03/2017,Returning,Mississippi,Product 2,199,7,1393,on-time,no,(3) ok
4,01/03/2017,Returning,Florida,Product 1,499,6,2994,delayed,no,(2) low
5,01/03/2017,Organic,Georgia,Product 2,199,4,796,on-time,yes,(3) ok
6,01/03/2017,Organic,South Carolina,Product 4,99,5,495,on-time,no,(3) ok
7,01/03/2017,Organic,South Carolina,Product 3,299,1,299,on-time,yes,(4) high
8,01/03/2017,Ad,Georgia,Product 5,399,7,2793,on-time,no,(5) very high
9,01/03/2017,Returning,Mississippi,Product 5,399,1,399,on-time,yes,(3) ok
10,01/03/2017,Ad,Alabama,Product 3,299,4,1196,on-time,no,(5) very high
11,01/03/2017,Returning,North Carolina,Product 2,199,4,796,on-time,no,(3) ok
12,01/03/2017,Ad,Alabama,Product 1,499,10,4990,on-time,no,(3) ok
13,01/03/2017,Returning,Alabama,Product 4,99,6,594,on-time,no,(4) high
14,01/03/2017,Organic,Georgia,Product 1,499,1,499,on-time,no,(3) ok
15,01/03/2017,Organic,South Carolina,Product 4,99,5,495,on-time,no,(2) low
16,01/04/2017,Ad,North Carolina,Product 4,99,5,495,on-time,no,(4) high
17,01/05/2017,Organic,Florida,Product 1,499,10,4990,delayed,no,(4) high
18,01/05/2017,Returning,South Carolina,Product 4,99,3,297,delayed,no,(3) ok
19,01/06/2017,Organic,South Carolina,Product 3,299,3,897,on-time,no,(3) ok
20,01/06/2017,Returning,Florida,Product 4,99,10,990,on-time,no,(5) very high
21,01/06/2017,Ad,Mississippi,Product 1,499,10,4990,on-time,no,(4) high
22,01/06/2017,Organic,Mississippi,Product 1,499,1,499,on-time,no,(1) very low
23,01/06/2017,Ad,Tennessee,Product 5,399,7,2793,on-time,yes,(3) ok
24,01/06/2017,Ad,Florida,Product 1,499,5,2495,on-time,no,(3) ok
25,01/06/2017,Ad,South Carolina,Product 4,99,5,495,on-time,no,(3) ok
26,01/06/2017,Organic,South Carolina,Product 3,299,3,897,on-time,no,(2) low
27,01/06/2017,Organic,Florida,Product 4,99,7,693,on-time,no,(2) low
28,01/06/2017,Returning,North Carolina,Product 1,499,8,3992,on-time,no,(4) high
29,01/06/2017,Organic,North Carolina,Product 4,99,6,594,on-time,no,(3) ok
...,...,...,...,...,...,...,...,...,...,...
5749,12/27/2019,Ad,Florida,Product 1,499,5,2495,delayed,no,(3) ok
5750,12/28/2019,Returning,Georgia,Product 4,99,4,396,on-time,no,(2) low
5751,12/29/2019,Ad,Alabama,Product 5,399,5,1995,on-time,no,(4) high
5752,12/30/2019,Organic,North Carolina,Product 5,399,7,2793,delayed,no,(3) ok
5753,12/30/2019,Ad,Mississippi,Product 4,99,9,891,on-time,no,(5) very high
5754,12/30/2019,Organic,Georgia,Product 2,199,9,1791,delayed,no,(4) high
5755,12/30/2019,Ad,South Carolina,Product 1,499,2,998,delayed,no,(3) ok
5756,12/30/2019,Ad,South Carolina,Product 2,199,3,597,on-time,yes,(4) high
5757,12/30/2019,Ad,Alabama,Product 3,299,6,1794,on-time,no,(4) high
5758,12/30/2019,Returning,Georgia,Product 4,99,5,495,delayed,no,(3) ok
5759,12/30/2019,Ad,Florida,Product 5,399,1,399,on-time,no,(3) ok
5760,12/30/2019,Organic,North Carolina,Product 1,499,5,2495,delayed,no,(5) very high
5761,12/30/2019,Ad,Mississippi,Product 5,399,5,1995,delayed,no,(3) ok
5762,12/30/2019,Organic,Tennessee,Product 5,399,2,798,on-time,no,(2) low
5763,12/30/2019,Ad,South Carolina,Product 5,399,1,399,delayed,yes,(4) high
5764,12/30/2019,Ad,South Carolina,Product 5,399,10,3990,on-time,no,(2) low
5765,12/30/2019,Returning,North Carolina,Product 3,299,4,1196,on-time,no,(2) low
5766,12/30/2019,Ad,Georgia,Product 4,99,7,693,on-time,no,(2) low
5767,12/30/2019,Organic,Tennessee,Product 2,199,1,199,on-time,yes,(3) ok
5768,12/30/2019,Ad,Georgia,Product 2,199,9,1791,on-time,no,(4) high
5769,12/30/2019,Ad,Alabama,Product 3,299,2,598,delayed,no,(5) very high
5770,12/30/2019,Organic,Tennessee,Product 2,199,9,1791,on-time,no,(5) very high
5771,12/30/2019,Ad,Mississippi,Product 2,199,10,1990,on-time,no,(3) ok
5772,12/30/2019,Returning,South Carolina,Product 5,399,1,399,on-time,no,(3) ok
5773,12/30/2019,Ad,Mississippi,Product 1,499,9,4491,delayed,no,(5) very high
5774,12/30/2019,Returning,Florida,Product 5,399,9,3591,on-time,no,(1) very low
5775,12/31/2019,Organic,Georgia,Product 4,99,6,594,on-time,no,(3) ok
5776,12/31/2019,Ad,South Carolina,Product 5,399,4,1596,on-time,no,(4) high
5777,12/31/2019,Returning,Tennessee,Product 1,499,3,1497,delayed,yes,(3) ok
5778,12/31/2019,Returning,Alabama,Product 2,199,6,1194,on-time,no,(4) high

In [10]:
df.iloc[:,: -1]

,Date,Customer Acquisition Type,State,Product,Price,Units,Revenue,Delivery Performance,Return
0,1/1/2017,Ad,Florida,Product 2,199,4,796,on-time,no
1,1/1/2017,Returning,North Carolina,Product 3,299,9,2691,on-time,no
2,1/2/2017,Organic,Mississippi,Product 2,199,6,1194,on-time,no
3,1/3/2017,Organic,Florida,Product 4,99,3,297,delayed,no
4,1/3/2017,Returning,Mississippi,Product 2,199,7,1393,on-time,no
5,1/3/2017,Returning,Florida,Product 1,499,6,2994,delayed,no
6,1/3/2017,Organic,Georgia,Product 2,199,4,796,on-time,yes
7,1/3/2017,Organic,South Carolina,Product 4,99,5,495,on-time,no
8,1/3/2017,Organic,South Carolina,Product 3,299,1,299,on-time,yes
9,1/3/2017,Ad,Georgia,Product 5,399,7,2793,on-time,no
10,1/3/2017,Returning,Mississippi,Product 5,399,1,399,on-time,yes
11,1/3/2017,Ad,Alabama,Product 3,299,4,1196,on-time,no
12,1/3/2017,Returning,North Carolina,Product 2,199,4,796,on-time,no
13,1/3/2017,Ad,Alabama,Product 1,499,10,4990,on-time,no
14,1/3/2017,Returning,Alabama,Product 4,99,6,594,on-time,no
15,1/3/2017,Organic,Georgia,Product 1,499,1,499,on-time,no
16,1/3/2017,Organic,South Carolina,Product 4,99,5,495,on-time,no
17,1/4/2017,Ad,North Carolina,Product 4,99,5,495,on-time,no
18,1/5/2017,Organic,Florida,Product 1,499,10,4990,delayed,no
19,1/5/2017,Returning,South Carolina,Product 4,99,3,297,delayed,no
20,1/6/2017,Organic,South Carolina,Product 3,299,3,897,on-time,no
21,1/6/2017,Returning,Florida,Product 4,99,10,990,on-time,no
22,1/6/2017,Ad,Mississippi,Product 1,499,10,4990,on-time,no
23,1/6/2017,Organic,Mississippi,Product 1,499,1,499,on-time,no
24,1/6/2017,Ad,Tennessee,Product 5,399,7,2793,on-time,yes
25,1/6/2017,Ad,Florida,Product 1,499,5,2495,on-time,no
26,1/6/2017,Ad,South Carolina,Product 4,99,5,495,on-time,no
27,1/6/2017,Organic,South Carolina,Product 3,299,3,897,on-time,no
28,1/6/2017,Organic,Florida,Product 4,99,7,693,on-time,no
29,1/6/2017,Returning,North Carolina,Product 1,499,8,3992,on-time,no
...,...,...,...,...,...,...,...,...,...
5750,12/27/2019,Ad,Florida,Product 1,499,5,2495,delayed,no
5751,12/28/2019,Returning,Georgia,Product 4,99,4,396,on-time,no
5752,12/29/2019,Ad,Alabama,Product 5,399,5,1995,on-time,no
5753,12/30/2019,Organic,North Carolina,Product 5,399,7,2793,delayed,no
5754,12/30/2019,Ad,Mississippi,Product 4,99,9,891,on-time,no
5755,12/30/2019,Organic,Georgia,Product 2,199,9,1791,delayed,no
5756,12/30/2019,Ad,South Carolina,Product 1,499,2,998,delayed,no
5757,12/30/2019,Ad,South Carolina,Product 2,199,3,597,on-time,yes
5758,12/30/2019,Ad,Alabama,Product 3,299,6,1794,on-time,no
5759,12/30/2019,Returning,Georgia,Product 4,99,5,495,delayed,no
5760,12/30/2019,Ad,Florida,Product 5,399,1,399,on-time,no
5761,12/30/2019,Organic,North Carolina,Product 1,499,5,2495,delayed,no
5762,12/30/2019,Ad,Mississippi,Product 5,399,5,1995,delayed,no
5763,12/30/2019,Organic,Tennessee,Product 5,399,2,798,on-time,no
5764,12/30/2019,Ad,South Carolina,Product 5,399,1,399,delayed,yes
5765,12/30/2019,Ad,South Carolina,Product 5,399,10,3990,on-time,no
5766,12/30/2019,Returning,North Carolina,Product 3,299,4,1196,on-time,no
5767,12/30/2019,Ad,Georgia,Product 4,99,7,693,on-time,no
5768,12/30/2019,Organic,Tennessee,Product 2,199,1,199,on-time,yes
5769,12/30/2019,Ad,Georgia,Product 2,199,9,1791,on-time,no
5770,12/30/2019,Ad,Alabama,Product 3,299,2,598,delayed,no
5771,12/30/2019,Organic,Tennessee,Product 2,199,9,1791,on-time,no
5772,12/30/2019,Ad,Mississippi,Product 2,199,10,1990,on-time,no
5773,12/30/2019,Returning,South Carolina,Product 5,399,1,399,on-time,no
5774,12/30/2019,Ad,Mississippi,Product 1,499,9,4491,delayed,no
5775,12/30/2019,Returning,Florida,Product 5,399,9,3591,on-time,no
5776,12/31/2019,Organic,Georgia,Product 4,99,6,594,on-time,no
5777,12/31/2019,Ad,South Carolina,Product 5,399,4,1596,on-time,no
5778,12/31/2019,Returning,Tennessee,Product 1,499,3,1497,delayed,yes
5779,12/31/2019,Returning,Alabama,Product 2,199,6,1194,on-time,no

In [14]:
df.loc[0:4,["Date","Product"]]

       Date    Product
0  1/1/2017  Product 2
1  1/1/2017  Product 3
2  1/2/2017  Product 2
3  1/3/2017  Product 4
4  1/3/2017  Product 2

In [13]:
df.iloc[0:5,[0,3]]

       Date    Product
0  1/1/2017  Product 2
1  1/1/2017  Product 3
2  1/2/2017  Product 2
3  1/3/2017  Product 4
4  1/3/2017  Product 2

In [22]:
df.loc[df["Price"] > 299, ["Date","Price"]]

            Date  Price
5       1/3/2017    499
9       1/3/2017    399
10      1/3/2017    399
13      1/3/2017    499
15      1/3/2017    499
18      1/5/2017    499
22      1/6/2017    499
23      1/6/2017    499
24      1/6/2017    399
25      1/6/2017    499
29      1/6/2017    499
31      1/6/2017    399
38      1/6/2017    399
42      1/7/2017    399
43      1/7/2017    499
44      1/8/2017    399
48     1/10/2017    499
50     1/10/2017    499
52     1/10/2017    499
56     1/12/2017    399
64     1/13/2017    499
69     1/13/2017    399
70     1/13/2017    499
71     1/13/2017    499
73     1/13/2017    399
76     1/15/2017    499
82     1/16/2017    399
85     1/17/2017    499
87     1/17/2017    399
88     1/17/2017    399
...          ...    ...
5708  12/15/2019    399
5717  12/18/2019    499
5719  12/18/2019    499
5721  12/19/2019    399
5723  12/19/2019    499
5724  12/19/2019    399
5733  12/21/2019    399
5734  12/21/2019    399
5735  12/21/2019    399
5739  12/22/2019    399
5742  12/23/2019    499
5744  12/25/2019    499
5746  12/25/2019    399
5747  12/26/2019    399
5748  12/26/2019    399
5750  12/27/2019    499
5752  12/29/2019    399
5753  12/30/2019    399
5756  12/30/2019    499
5760  12/30/2019    399
5761  12/30/2019    499
5762  12/30/2019    399
5763  12/30/2019    399
5764  12/30/2019    399
5765  12/30/2019    399
5773  12/30/2019    399
5774  12/30/2019    499
5775  12/30/2019    399
5777  12/31/2019    399
5778  12/31/2019    499

[2332 rows x 2 columns]

In [23]:
df[df["Price"] > 299]

,Date,Customer Acquisition Type,State,Product,Price,Units,Revenue,Delivery Performance,Return,Customer Satisfaction
5,1/3/2017,Returning,Florida,Product 1,499,6,2994,delayed,no,(2) low
9,1/3/2017,Ad,Georgia,Product 5,399,7,2793,on-time,no,(5) very high
10,1/3/2017,Returning,Mississippi,Product 5,399,1,399,on-time,yes,(3) ok
13,1/3/2017,Ad,Alabama,Product 1,499,10,4990,on-time,no,(3) ok
15,1/3/2017,Organic,Georgia,Product 1,499,1,499,on-time,no,(3) ok
18,1/5/2017,Organic,Florida,Product 1,499,10,4990,delayed,no,(4) high
22,1/6/2017,Ad,Mississippi,Product 1,499,10,4990,on-time,no,(4) high
23,1/6/2017,Organic,Mississippi,Product 1,499,1,499,on-time,no,(1) very low
24,1/6/2017,Ad,Tennessee,Product 5,399,7,2793,on-time,yes,(3) ok
25,1/6/2017,Ad,Florida,Product 1,499,5,2495,on-time,no,(3) ok
29,1/6/2017,Returning,North Carolina,Product 1,499,8,3992,on-time,no,(4) high
31,1/6/2017,Returning,Georgia,Product 5,399,8,3192,delayed,no,(2) low
38,1/6/2017,Organic,Mississippi,Product 5,399,7,2793,on-time,no,(3) ok
42,1/7/2017,Ad,Georgia,Product 5,399,6,2394,on-time,no,(3) ok
43,1/7/2017,Organic,South Carolina,Product 1,499,4,1996,delayed,no,(2) low
44,1/8/2017,Returning,Georgia,Product 5,399,8,3192,on-time,no,(3) ok
48,1/10/2017,Ad,South Carolina,Product 1,499,9,4491,delayed,no,(1) very low
50,1/10/2017,Organic,Georgia,Product 1,499,7,3493,delayed,no,(3) ok
52,1/10/2017,Returning,South Carolina,Product 1,499,1,499,delayed,no,(4) high
56,1/12/2017,Organic,Mississippi,Product 5,399,10,3990,on-time,no,(2) low
64,1/13/2017,Ad,Florida,Product 1,499,2,998,delayed,no,(4) high
69,1/13/2017,Organic,Florida,Product 5,399,1,399,on-time,no,(4) high
70,1/13/2017,Returning,North Carolina,Product 1,499,6,2994,delayed,no,(3) ok
71,1/13/2017,Ad,Georgia,Product 1,499,5,2495,on-time,no,(3) ok
73,1/13/2017,Organic,South Carolina,Product 5,399,9,3591,delayed,no,(4) high
76,1/15/2017,Ad,North Carolina,Product 1,499,7,3493,on-time,no,(3) ok
82,1/16/2017,Returning,Florida,Product 5,399,9,3591,on-time,no,(4) high
85,1/17/2017,Ad,Alabama,Product 1,499,4,1996,delayed,no,(4) high
87,1/17/2017,Organic,North Carolina,Product 5,399,1,399,on-time,no,(2) low
88,1/17/2017,Organic,Alabama,Product 5,399,9,3591,on-time,no,(3) ok
...,...,...,...,...,...,...,...,...,...,...
5708,12/15/2019,Ad,Tennessee,Product 5,399,1,399,delayed,no,(2) low
5717,12/18/2019,Ad,Georgia,Product 1,499,8,3992,on-time,no,(4) high
5719,12/18/2019,Ad,South Carolina,Product 1,499,1,499,delayed,no,(2) low
5721,12/19/2019,Organic,North Carolina,Product 5,399,4,1596,on-time,no,(4) high
5723,12/19/2019,Returning,South Carolina,Product 1,499,6,2994,on-time,no,(3) ok
5724,12/19/2019,Returning,South Carolina,Product 5,399,3,1197,on-time,no,(4) high
5733,12/21/2019,Ad,South Carolina,Product 5,399,10,3990,on-time,no,(3) ok
5734,12/21/2019,Organic,Alabama,Product 5,399,7,2793,on-time,no,(2) low
5735,12/21/2019,Returning,South Carolina,Product 5,399,9,3591,on-time,no,(3) ok
5739,12/22/2019,Ad,Alabama,Product 5,399,2,798,on-time,no,(2) low
5742,12/23/2019,Returning,Georgia,Product 1,499,6,2994,delayed,no,(5) very high
5744,12/25/2019,Ad,Georgia,Product 1,499,9,4491,delayed,no,(3) ok
5746,12/25/2019,Ad,North Carolina,Product 5,399,3,1197,delayed,no,(1) very low
5747,12/26/2019,Ad,Georgia,Product 5,399,10,3990,on-time,no,(3) ok
5748,12/26/2019,Organic,Tennessee,Product 5,399,10,3990,delayed,no,(3) ok
5750,12/27/2019,Ad,Florida,Product 1,499,5,2495,delayed,no,(3) ok
5752,12/29/2019,Ad,Alabama,Product 5,399,5,1995,on-time,no,(4) high
5753,12/30/2019,Organic,North Carolina,Product 5,399,7,2793,delayed,no,(3) ok
5756,12/30/2019,Ad,South Carolina,Product 1,499,2,998,delayed,no,(3) ok
5760,12/30/2019,Ad,Florida,Product 5,399,1,399,on-time,no,(3) ok
5761,12/30/2019,Organic,North Carolina,Product 1,499,5,2495,delayed,no,(5) very high
5762,12/30/2019,Ad,Mississippi,Product 5,399,5,1995,delayed,no,(3) ok
5763,12/30/2019,Organic,Tennessee,Product 5,399,2,798,on-time,no,(2) low
5764,12/30/2019,Ad,South Carolina,Product 5,399,1,399,delayed,yes,(4) high
5765,12/30/2019,Ad,South Carolina,Product 5,399,10,3990,on-time,no,(2) low
5773,12/30/2019,Returning,South Carolina,Product 5,399,1,399,on-time,no,(3) ok
5774,12/30/2019,Ad,Mississippi,Product 1,499,9,4491,delayed,no,(5) very high
5775,12/30/2019,Returning,Florida,Product 5,399,9,3591,on-time,no,(1) very low
5777,12/31/2019,Ad,South Carolina,Product 5,399,4,1596,on-time,no,(4) high
5778,12/31/2019,Returning,Tennessee,Product 1,499,3,1497,delayed,yes,(3) ok

In [11]:
df.loc[df["State"] == "Florida", ["Product","Price"]]
df[df["Customer Acquisition Type"].isin(["Ad","Organic"])]
#df[(df["Revenue"] > 400) & (df["Customer Acquisition Type"].isin(["Ad","Organic"]))]
df[df["Revenue"] > 400 & df["Customer Acquisition Type"].isin(["Ad","Organic"])]
df1 = df[(df["Revenue"] > 400) & (df["Customer Acquisition Type"].isin(["Ad","Organic"]))]
df1.reset_index(inplace = True, drop = True)
df1

,Date,Customer Acquisition Type,State,Product,Price,Units,Revenue,Delivery Performance,Return,Customer Satisfaction
0,1/1/2017,Ad,Florida,Product 2,199,4,796,on-time,no,(2) low
1,1/2/2017,Organic,Mississippi,Product 2,199,6,1194,on-time,no,(3) ok
2,1/3/2017,Organic,Georgia,Product 2,199,4,796,on-time,yes,(3) ok
3,1/3/2017,Organic,South Carolina,Product 4,99,5,495,on-time,no,(3) ok
4,1/3/2017,Ad,Georgia,Product 5,399,7,2793,on-time,no,(5) very high
5,1/3/2017,Ad,Alabama,Product 3,299,4,1196,on-time,no,(5) very high
6,1/3/2017,Ad,Alabama,Product 1,499,10,4990,on-time,no,(3) ok
7,1/3/2017,Organic,Georgia,Product 1,499,1,499,on-time,no,(3) ok
8,1/3/2017,Organic,South Carolina,Product 4,99,5,495,on-time,no,(2) low
9,1/4/2017,Ad,North Carolina,Product 4,99,5,495,on-time,no,(4) high
10,1/5/2017,Organic,Florida,Product 1,499,10,4990,delayed,no,(4) high
11,1/6/2017,Organic,South Carolina,Product 3,299,3,897,on-time,no,(3) ok
12,1/6/2017,Ad,Mississippi,Product 1,499,10,4990,on-time,no,(4) high
13,1/6/2017,Organic,Mississippi,Product 1,499,1,499,on-time,no,(1) very low
14,1/6/2017,Ad,Tennessee,Product 5,399,7,2793,on-time,yes,(3) ok
15,1/6/2017,Ad,Florida,Product 1,499,5,2495,on-time,no,(3) ok
16,1/6/2017,Ad,South Carolina,Product 4,99,5,495,on-time,no,(3) ok
17,1/6/2017,Organic,South Carolina,Product 3,299,3,897,on-time,no,(2) low
18,1/6/2017,Organic,Florida,Product 4,99,7,693,on-time,no,(2) low
19,1/6/2017,Organic,North Carolina,Product 4,99,6,594,on-time,no,(3) ok
20,1/6/2017,Ad,Georgia,Product 2,199,10,1990,on-time,no,(3) ok
21,1/6/2017,Organic,Georgia,Product 3,299,10,2990,delayed,no,(3) ok
22,1/6/2017,Organic,North Carolina,Product 3,299,10,2990,on-time,no,(1) very low
23,1/6/2017,Ad,Georgia,Product 2,199,6,1194,delayed,no,(1) very low
24,1/6/2017,Organic,South Carolina,Product 2,199,8,1592,delayed,no,(2) low
25,1/6/2017,Organic,Mississippi,Product 5,399,7,2793,on-time,no,(3) ok
26,1/6/2017,Ad,North Carolina,Product 2,199,7,1393,on-time,no,(4) high
27,1/7/2017,Ad,Georgia,Product 5,399,6,2394,on-time,no,(3) ok
28,1/7/2017,Organic,South Carolina,Product 1,499,4,1996,delayed,no,(2) low
29,1/8/2017,Organic,Mississippi,Product 4,99,6,594,on-time,no,(4) high
...,...,...,...,...,...,...,...,...,...,...
3267,12/21/2019,Ad,South Carolina,Product 5,399,10,3990,on-time,no,(3) ok
3268,12/21/2019,Organic,Alabama,Product 5,399,7,2793,on-time,no,(2) low
3269,12/22/2019,Ad,North Carolina,Product 2,199,3,597,on-time,no,(4) high
3270,12/22/2019,Ad,Alabama,Product 5,399,2,798,on-time,no,(2) low
3271,12/24/2019,Organic,North Carolina,Product 3,299,9,2691,on-time,no,(3) ok
3272,12/25/2019,Ad,Georgia,Product 1,499,9,4491,delayed,no,(3) ok
3273,12/25/2019,Organic,North Carolina,Product 3,299,5,1495,on-time,no,(3) ok
3274,12/25/2019,Ad,North Carolina,Product 5,399,3,1197,delayed,no,(1) very low
3275,12/26/2019,Ad,Georgia,Product 5,399,10,3990,on-time,no,(3) ok
3276,12/26/2019,Organic,Tennessee,Product 5,399,10,3990,delayed,no,(3) ok
3277,12/27/2019,Ad,Florida,Product 1,499,5,2495,delayed,no,(3) ok
3278,12/29/2019,Ad,Alabama,Product 5,399,5,1995,on-time,no,(4) high
3279,12/30/2019,Organic,North Carolina,Product 5,399,7,2793,delayed,no,(3) ok
3280,12/30/2019,Ad,Mississippi,Product 4,99,9,891,on-time,no,(5) very high
3281,12/30/2019,Organic,Georgia,Product 2,199,9,1791,delayed,no,(4) high
3282,12/30/2019,Ad,South Carolina,Product 1,499,2,998,delayed,no,(3) ok
3283,12/30/2019,Ad,South Carolina,Product 2,199,3,597,on-time,yes,(4) high
3284,12/30/2019,Ad,Alabama,Product 3,299,6,1794,on-time,no,(4) high
3285,12/30/2019,Organic,North Carolina,Product 1,499,5,2495,delayed,no,(5) very high
3286,12/30/2019,Ad,Mississippi,Product 5,399,5,1995,delayed,no,(3) ok
3287,12/30/2019,Organic,Tennessee,Product 5,399,2,798,on-time,no,(2) low
3288,12/30/2019,Ad,South Carolina,Product 5,399,10,3990,on-time,no,(2) low
3289,12/30/2019,Ad,Georgia,Product 4,99,7,693,on-time,no,(2) low
3290,12/30/2019,Ad,Georgia,Product 2,199,9,1791,on-time,no,(4) high
3291,12/30/2019,Ad,Alabama,Product 3,299,2,598,delayed,no,(5) very high
3292,12/30/2019,Organic,Tennessee,Product 2,199,9,1791,on-time,no,(5) very high
3293,12/30/2019,Ad,Mississippi,Product 2,199,10,1990,on-time,no,(3) ok
3294,12/30/2019,Ad,Mississippi,Product 1,499,9,4491,delayed,no,(5) very high
3295,12/31/2019,Organic,Georgia,Product 4,99,6,594,on-time,no,(3) ok
3296,12/31/2019,Ad,South Carolina,Product 5,399,4,1596,on-time,no,(4) high

In [14]:
df.sort_values(by=["State", "Customer Acquisition Type"], ascending = [True,False])

,Date,Customer Acquisition Type,State,Product,Price,Units,Revenue,Delivery Performance,Return,Customer Satisfaction
14,1/3/2017,Returning,Alabama,Product 4,99,6,594,on-time,no,(4) high
79,1/15/2017,Returning,Alabama,Product 4,99,6,594,delayed,no,(5) very high
89,1/18/2017,Returning,Alabama,Product 3,299,7,2093,delayed,no,(4) high
109,1/21/2017,Returning,Alabama,Product 1,499,7,3493,delayed,no,(3) ok
124,1/27/2017,Returning,Alabama,Product 4,99,6,594,delayed,no,(3) ok
147,2/1/2017,Returning,Alabama,Product 5,399,4,1596,delayed,yes,(3) ok
162,2/6/2017,Returning,Alabama,Product 5,399,9,3591,delayed,no,(4) high
181,2/10/2017,Returning,Alabama,Product 5,399,2,798,on-time,no,(3) ok
187,2/10/2017,Returning,Alabama,Product 2,199,9,1791,on-time,yes,(5) very high
206,2/17/2017,Returning,Alabama,Product 3,299,4,1196,delayed,yes,(3) ok
234,2/21/2017,Returning,Alabama,Product 3,299,8,2392,on-time,no,(3) ok
240,2/22/2017,Returning,Alabama,Product 5,399,4,1596,delayed,no,(2) low
242,2/22/2017,Returning,Alabama,Product 3,299,7,2093,on-time,no,(2) low
255,2/25/2017,Returning,Alabama,Product 2,199,4,796,on-time,no,(2) low
257,2/25/2017,Returning,Alabama,Product 4,99,10,990,delayed,no,(4) high
281,3/1/2017,Returning,Alabama,Product 3,299,7,2093,on-time,no,(4) high
294,3/3/2017,Returning,Alabama,Product 5,399,3,1197,on-time,no,(3) ok
301,3/4/2017,Returning,Alabama,Product 4,99,5,495,on-time,no,(2) low
323,3/6/2017,Returning,Alabama,Product 4,99,4,396,on-time,no,(4) high
339,3/7/2017,Returning,Alabama,Product 3,299,5,1495,on-time,yes,(3) ok
374,3/17/2017,Returning,Alabama,Product 2,199,3,597,on-time,yes,(5) very high
385,3/21/2017,Returning,Alabama,Product 2,199,9,1791,on-time,yes,(2) low
393,3/23/2017,Returning,Alabama,Product 4,99,7,693,on-time,no,(3) ok
414,3/26/2017,Returning,Alabama,Product 5,399,7,2793,delayed,no,(3) ok
417,3/26/2017,Returning,Alabama,Product 2,199,2,398,on-time,no,(5) very high
447,4/7/2017,Returning,Alabama,Product 5,399,8,3192,on-time,no,(3) ok
469,4/10/2017,Returning,Alabama,Product 2,199,4,796,delayed,no,(4) high
496,4/17/2017,Returning,Alabama,Product 4,99,3,297,delayed,yes,(2) low
524,4/21/2017,Returning,Alabama,Product 3,299,3,897,delayed,no,(2) low
545,4/24/2017,Returning,Alabama,Product 2,199,4,796,delayed,no,(4) high
...,...,...,...,...,...,...,...,...,...,...
4971,7/20/2019,Ad,Tennessee,Product 3,299,9,2691,on-time,no,(3) ok
5002,7/27/2019,Ad,Tennessee,Product 5,399,9,3591,on-time,no,(3) ok
5063,8/7/2019,Ad,Tennessee,Product 2,199,9,1791,on-time,no,(4) high
5097,8/12/2019,Ad,Tennessee,Product 5,399,2,798,delayed,no,(5) very high
5110,8/14/2019,Ad,Tennessee,Product 4,99,2,198,on-time,no,(4) high
5132,8/18/2019,Ad,Tennessee,Product 3,299,5,1495,on-time,no,(5) very high
5162,8/20/2019,Ad,Tennessee,Product 2,199,10,1990,delayed,yes,(3) ok
5163,8/20/2019,Ad,Tennessee,Product 5,399,6,2394,on-time,no,(2) low
5167,8/20/2019,Ad,Tennessee,Product 1,499,8,3992,delayed,no,(1) very low
5231,9/6/2019,Ad,Tennessee,Product 2,199,4,796,on-time,yes,(3) ok
5241,9/9/2019,Ad,Tennessee,Product 3,299,6,1794,on-time,no,(3) ok
5291,9/17/2019,Ad,Tennessee,Product 1,499,7,3493,on-time,yes,(3) ok
5293,9/18/2019,Ad,Tennessee,Product 4,99,6,594,delayed,no,(4) high
5303,9/19/2019,Ad,Tennessee,Product 5,399,9,3591,on-time,no,(1) very low
5312,9/24/2019,Ad,Tennessee,Product 1,499,3,1497,on-time,no,(2) low
5329,9/27/2019,Ad,Tennessee,Product 5,399,4,1596,on-time,no,(3) ok
5367,10/5/2019,Ad,Tennessee,Product 5,399,10,3990,on-time,yes,(3) ok
5423,10/22/2019,Ad,Tennessee,Product 5,399,3,1197,on-time,no,(3) ok
5447,10/26/2019,Ad,Tennessee,Product 4,99,5,495,on-time,no,(3) ok
5470,11/2/2019,Ad,Tennessee,Product 3,299,8,2392,delayed,no,(4) high
5516,11/13/2019,Ad,Tennessee,Product 2,199,10,1990,delayed,no,(3) ok
5538,11/16/2019,Ad,Tennessee,Product 1,499,2,998,on-time,no,(2) low
5583,11/21/2019,Ad,Tennessee,Product 4,99,9,891,on-time,yes,(2) low
5619,11/27/2019,Ad,Tennessee,Product 5,399,10,3990,delayed,no,(3) ok
5630,11/30/2019,Ad,Tennessee,Product 4,99,6,594,delayed,no,(2) low
5656,12/7/2019,Ad,Tennessee,Product 4,99,7,693,on-time,no,(3) ok
5667,12/9/2019,Ad,Tennessee,Product 4,99,1,99,delayed,no,(3) ok
5671,12/9/2019,Ad,Tennessee,Product 2,199,3,597,delayed,no,(3) ok
5708,12/15/2019,Ad,Tennessee,Product 5,399,1,399,delayed,no,(2) low
5713,12/17/2019,Ad,Tennessee,Product 2,199,6,1194,on-time,no,(3) ok

In [5]:
df

,01/01/2017,Ad,Florida,Product 2,199,4,796,on-time,no,(2) low
0,01/01/2017,Returning,North Carolina,Product 3,299,9,2691,on-time,no,(1) very low
1,01/02/2017,Organic,Mississippi,Product 2,199,6,1194,on-time,no,(3) ok
2,01/03/2017,Organic,Florida,Product 4,99,3,297,delayed,no,(2) low
3,01/03/2017,Returning,Mississippi,Product 2,199,7,1393,on-time,no,(3) ok
4,01/03/2017,Returning,Florida,Product 1,499,6,2994,delayed,no,(2) low
5,01/03/2017,Organic,Georgia,Product 2,199,4,796,on-time,yes,(3) ok
6,01/03/2017,Organic,South Carolina,Product 4,99,5,495,on-time,no,(3) ok
7,01/03/2017,Organic,South Carolina,Product 3,299,1,299,on-time,yes,(4) high
8,01/03/2017,Ad,Georgia,Product 5,399,7,2793,on-time,no,(5) very high
9,01/03/2017,Returning,Mississippi,Product 5,399,1,399,on-time,yes,(3) ok
10,01/03/2017,Ad,Alabama,Product 3,299,4,1196,on-time,no,(5) very high
11,01/03/2017,Returning,North Carolina,Product 2,199,4,796,on-time,no,(3) ok
12,01/03/2017,Ad,Alabama,Product 1,499,10,4990,on-time,no,(3) ok
13,01/03/2017,Returning,Alabama,Product 4,99,6,594,on-time,no,(4) high
14,01/03/2017,Organic,Georgia,Product 1,499,1,499,on-time,no,(3) ok
15,01/03/2017,Organic,South Carolina,Product 4,99,5,495,on-time,no,(2) low
16,01/04/2017,Ad,North Carolina,Product 4,99,5,495,on-time,no,(4) high
17,01/05/2017,Organic,Florida,Product 1,499,10,4990,delayed,no,(4) high
18,01/05/2017,Returning,South Carolina,Product 4,99,3,297,delayed,no,(3) ok
19,01/06/2017,Organic,South Carolina,Product 3,299,3,897,on-time,no,(3) ok
20,01/06/2017,Returning,Florida,Product 4,99,10,990,on-time,no,(5) very high
21,01/06/2017,Ad,Mississippi,Product 1,499,10,4990,on-time,no,(4) high
22,01/06/2017,Organic,Mississippi,Product 1,499,1,499,on-time,no,(1) very low
23,01/06/2017,Ad,Tennessee,Product 5,399,7,2793,on-time,yes,(3) ok
24,01/06/2017,Ad,Florida,Product 1,499,5,2495,on-time,no,(3) ok
25,01/06/2017,Ad,South Carolina,Product 4,99,5,495,on-time,no,(3) ok
26,01/06/2017,Organic,South Carolina,Product 3,299,3,897,on-time,no,(2) low
27,01/06/2017,Organic,Florida,Product 4,99,7,693,on-time,no,(2) low
28,01/06/2017,Returning,North Carolina,Product 1,499,8,3992,on-time,no,(4) high
29,01/06/2017,Organic,North Carolina,Product 4,99,6,594,on-time,no,(3) ok
...,...,...,...,...,...,...,...,...,...,...
5749,12/27/2019,Ad,Florida,Product 1,499,5,2495,delayed,no,(3) ok
5750,12/28/2019,Returning,Georgia,Product 4,99,4,396,on-time,no,(2) low
5751,12/29/2019,Ad,Alabama,Product 5,399,5,1995,on-time,no,(4) high
5752,12/30/2019,Organic,North Carolina,Product 5,399,7,2793,delayed,no,(3) ok
5753,12/30/2019,Ad,Mississippi,Product 4,99,9,891,on-time,no,(5) very high
5754,12/30/2019,Organic,Georgia,Product 2,199,9,1791,delayed,no,(4) high
5755,12/30/2019,Ad,South Carolina,Product 1,499,2,998,delayed,no,(3) ok
5756,12/30/2019,Ad,South Carolina,Product 2,199,3,597,on-time,yes,(4) high
5757,12/30/2019,Ad,Alabama,Product 3,299,6,1794,on-time,no,(4) high
5758,12/30/2019,Returning,Georgia,Product 4,99,5,495,delayed,no,(3) ok
5759,12/30/2019,Ad,Florida,Product 5,399,1,399,on-time,no,(3) ok
5760,12/30/2019,Organic,North Carolina,Product 1,499,5,2495,delayed,no,(5) very high
5761,12/30/2019,Ad,Mississippi,Product 5,399,5,1995,delayed,no,(3) ok
5762,12/30/2019,Organic,Tennessee,Product 5,399,2,798,on-time,no,(2) low
5763,12/30/2019,Ad,South Carolina,Product 5,399,1,399,delayed,yes,(4) high
5764,12/30/2019,Ad,South Carolina,Product 5,399,10,3990,on-time,no,(2) low
5765,12/30/2019,Returning,North Carolina,Product 3,299,4,1196,on-time,no,(2) low
5766,12/30/2019,Ad,Georgia,Product 4,99,7,693,on-time,no,(2) low
5767,12/30/2019,Organic,Tennessee,Product 2,199,1,199,on-time,yes,(3) ok
5768,12/30/2019,Ad,Georgia,Product 2,199,9,1791,on-time,no,(4) high
5769,12/30/2019,Ad,Alabama,Product 3,299,2,598,delayed,no,(5) very high
5770,12/30/2019,Organic,Tennessee,Product 2,199,9,1791,on-time,no,(5) very high
5771,12/30/2019,Ad,Mississippi,Product 2,199,10,1990,on-time,no,(3) ok
5772,12/30/2019,Returning,South Carolina,Product 5,399,1,399,on-time,no,(3) ok
5773,12/30/2019,Ad,Mississippi,Product 1,499,9,4491,delayed,no,(5) very high
5774,12/30/2019,Returning,Florida,Product 5,399,9,3591,on-time,no,(1) very low
5775,12/31/2019,Organic,Georgia,Product 4,99,6,594,on-time,no,(3) ok
5776,12/31/2019,Ad,South Carolina,Product 5,399,4,1596,on-time,no,(4) high
5777,12/31/2019,Returning,Tennessee,Product 1,499,3,1497,delayed,yes,(3) ok
5778,12/31/2019,Returning,Alabama,Product 2,199,6,1194,on-time,no,(4) high

In [7]:
import

,01/01/2017,Ad,Florida,Product 2,199,4,796,on-time,no,(2) low
0,01/01/2017,Returning,North Carolina,Product 3,299,9,2691,on-time,no,(1) very low
1,01/02/2017,Organic,Mississippi,Product 2,199,6,1194,on-time,no,(3) ok
2,01/03/2017,Organic,Florida,Product 4,99,3,297,delayed,no,(2) low
3,01/03/2017,Returning,Mississippi,Product 2,199,7,1393,on-time,no,(3) ok
4,01/03/2017,Returning,Florida,Product 1,499,6,2994,delayed,no,(2) low
5,01/03/2017,Organic,Georgia,Product 2,199,4,796,on-time,yes,(3) ok
6,01/03/2017,Organic,South Carolina,Product 4,99,5,495,on-time,no,(3) ok
7,01/03/2017,Organic,South Carolina,Product 3,299,1,299,on-time,yes,(4) high
8,01/03/2017,Ad,Georgia,Product 5,399,7,2793,on-time,no,(5) very high
9,01/03/2017,Returning,Mississippi,Product 5,399,1,399,on-time,yes,(3) ok
10,01/03/2017,Ad,Alabama,Product 3,299,4,1196,on-time,no,(5) very high
11,01/03/2017,Returning,North Carolina,Product 2,199,4,796,on-time,no,(3) ok
12,01/03/2017,Ad,Alabama,Product 1,499,10,4990,on-time,no,(3) ok
13,01/03/2017,Returning,Alabama,Product 4,99,6,594,on-time,no,(4) high
14,01/03/2017,Organic,Georgia,Product 1,499,1,499,on-time,no,(3) ok
15,01/03/2017,Organic,South Carolina,Product 4,99,5,495,on-time,no,(2) low
16,01/04/2017,Ad,North Carolina,Product 4,99,5,495,on-time,no,(4) high
17,01/05/2017,Organic,Florida,Product 1,499,10,4990,delayed,no,(4) high
18,01/05/2017,Returning,South Carolina,Product 4,99,3,297,delayed,no,(3) ok
19,01/06/2017,Organic,South Carolina,Product 3,299,3,897,on-time,no,(3) ok
20,01/06/2017,Returning,Florida,Product 4,99,10,990,on-time,no,(5) very high
21,01/06/2017,Ad,Mississippi,Product 1,499,10,4990,on-time,no,(4) high
22,01/06/2017,Organic,Mississippi,Product 1,499,1,499,on-time,no,(1) very low
23,01/06/2017,Ad,Tennessee,Product 5,399,7,2793,on-time,yes,(3) ok
24,01/06/2017,Ad,Florida,Product 1,499,5,2495,on-time,no,(3) ok
25,01/06/2017,Ad,South Carolina,Product 4,99,5,495,on-time,no,(3) ok
26,01/06/2017,Organic,South Carolina,Product 3,299,3,897,on-time,no,(2) low
27,01/06/2017,Organic,Florida,Product 4,99,7,693,on-time,no,(2) low
28,01/06/2017,Returning,North Carolina,Product 1,499,8,3992,on-time,no,(4) high
29,01/06/2017,Organic,North Carolina,Product 4,99,6,594,on-time,no,(3) ok
...,...,...,...,...,...,...,...,...,...,...
5749,12/27/2019,Ad,Florida,Product 1,499,5,2495,delayed,no,(3) ok
5750,12/28/2019,Returning,Georgia,Product 4,99,4,396,on-time,no,(2) low
5751,12/29/2019,Ad,Alabama,Product 5,399,5,1995,on-time,no,(4) high
5752,12/30/2019,Organic,North Carolina,Product 5,399,7,2793,delayed,no,(3) ok
5753,12/30/2019,Ad,Mississippi,Product 4,99,9,891,on-time,no,(5) very high
5754,12/30/2019,Organic,Georgia,Product 2,199,9,1791,delayed,no,(4) high
5755,12/30/2019,Ad,South Carolina,Product 1,499,2,998,delayed,no,(3) ok
5756,12/30/2019,Ad,South Carolina,Product 2,199,3,597,on-time,yes,(4) high
5757,12/30/2019,Ad,Alabama,Product 3,299,6,1794,on-time,no,(4) high
5758,12/30/2019,Returning,Georgia,Product 4,99,5,495,delayed,no,(3) ok
5759,12/30/2019,Ad,Florida,Product 5,399,1,399,on-time,no,(3) ok
5760,12/30/2019,Organic,North Carolina,Product 1,499,5,2495,delayed,no,(5) very high
5761,12/30/2019,Ad,Mississippi,Product 5,399,5,1995,delayed,no,(3) ok
5762,12/30/2019,Organic,Tennessee,Product 5,399,2,798,on-time,no,(2) low
5763,12/30/2019,Ad,South Carolina,Product 5,399,1,399,delayed,yes,(4) high
5764,12/30/2019,Ad,South Carolina,Product 5,399,10,3990,on-time,no,(2) low
5765,12/30/2019,Returning,North Carolina,Product 3,299,4,1196,on-time,no,(2) low
5766,12/30/2019,Ad,Georgia,Product 4,99,7,693,on-time,no,(2) low
5767,12/30/2019,Organic,Tennessee,Product 2,199,1,199,on-time,yes,(3) ok
5768,12/30/2019,Ad,Georgia,Product 2,199,9,1791,on-time,no,(4) high
5769,12/30/2019,Ad,Alabama,Product 3,299,2,598,delayed,no,(5) very high
5770,12/30/2019,Organic,Tennessee,Product 2,199,9,1791,on-time,no,(5) very high
5771,12/30/2019,Ad,Mississippi,Product 2,199,10,1990,on-time,no,(3) ok
5772,12/30/2019,Returning,South Carolina,Product 5,399,1,399,on-time,no,(3) ok
5773,12/30/2019,Ad,Mississippi,Product 1,499,9,4491,delayed,no,(5) very high
5774,12/30/2019,Returning,Florida,Product 5,399,9,3591,on-time,no,(1) very low
5775,12/31/2019,Organic,Georgia,Product 4,99,6,594,on-time,no,(3) ok
5776,12/31/2019,Ad,South Carolina,Product 5,399,4,1596,on-time,no,(4) high
5777,12/31/2019,Returning,Tennessee,Product 1,499,3,1497,delayed,yes,(3) ok
5778,12/31/2019,Returning,Alabama,Product 2,199,6,1194,on-time,no,(4) high

In [1]:
import pandas as pd
df = pd.read_csv("PANDA_DATA.csv")
df

,Date,Customer Acquisition Type,State,Product,Price,Units,Revenue,Delivery Performance,Return,Customer Satisfaction
0,1/1/2017,Ad,Florida,Product 2,199,4,796,on-time,no,(2) low
1,1/1/2017,Returning,North Carolina,Product 3,299,9,2691,on-time,no,(1) very low
2,1/2/2017,Organic,Mississippi,Product 2,199,6,1194,on-time,no,(3) ok
3,1/3/2017,Organic,Florida,Product 4,99,3,297,delayed,no,(2) low
4,1/3/2017,Returning,Mississippi,Product 2,199,7,1393,on-time,no,(3) ok
5,1/3/2017,Returning,Florida,Product 1,499,6,2994,delayed,no,(2) low
6,1/3/2017,Organic,Georgia,Product 2,199,4,796,on-time,yes,(3) ok
7,1/3/2017,Organic,South Carolina,Product 4,99,5,495,on-time,no,(3) ok
8,1/3/2017,Organic,South Carolina,Product 3,299,1,299,on-time,yes,(4) high
9,1/3/2017,Ad,Georgia,Product 5,399,7,2793,on-time,no,(5) very high
10,1/3/2017,Returning,Mississippi,Product 5,399,1,399,on-time,yes,(3) ok
11,1/3/2017,Ad,Alabama,Product 3,299,4,1196,on-time,no,(5) very high
12,1/3/2017,Returning,North Carolina,Product 2,199,4,796,on-time,no,(3) ok
13,1/3/2017,Ad,Alabama,Product 1,499,10,4990,on-time,no,(3) ok
14,1/3/2017,Returning,Alabama,Product 4,99,6,594,on-time,no,(4) high
15,1/3/2017,Organic,Georgia,Product 1,499,1,499,on-time,no,(3) ok
16,1/3/2017,Organic,South Carolina,Product 4,99,5,495,on-time,no,(2) low
17,1/4/2017,Ad,North Carolina,Product 4,99,5,495,on-time,no,(4) high
18,1/5/2017,Organic,Florida,Product 1,499,10,4990,delayed,no,(4) high
19,1/5/2017,Returning,South Carolina,Product 4,99,3,297,delayed,no,(3) ok
20,1/6/2017,Organic,South Carolina,Product 3,299,3,897,on-time,no,(3) ok
21,1/6/2017,Returning,Florida,Product 4,99,10,990,on-time,no,(5) very high
22,1/6/2017,Ad,Mississippi,Product 1,499,10,4990,on-time,no,(4) high
23,1/6/2017,Organic,Mississippi,Product 1,499,1,499,on-time,no,(1) very low
24,1/6/2017,Ad,Tennessee,Product 5,399,7,2793,on-time,yes,(3) ok
25,1/6/2017,Ad,Florida,Product 1,499,5,2495,on-time,no,(3) ok
26,1/6/2017,Ad,South Carolina,Product 4,99,5,495,on-time,no,(3) ok
27,1/6/2017,Organic,South Carolina,Product 3,299,3,897,on-time,no,(2) low
28,1/6/2017,Organic,Florida,Product 4,99,7,693,on-time,no,(2) low
29,1/6/2017,Returning,North Carolina,Product 1,499,8,3992,on-time,no,(4) high
...,...,...,...,...,...,...,...,...,...,...
5750,12/27/2019,Ad,Florida,Product 1,499,5,2495,delayed,no,(3) ok
5751,12/28/2019,Returning,Georgia,Product 4,99,4,396,on-time,no,(2) low
5752,12/29/2019,Ad,Alabama,Product 5,399,5,1995,on-time,no,(4) high
5753,12/30/2019,Organic,North Carolina,Product 5,399,7,2793,delayed,no,(3) ok
5754,12/30/2019,Ad,Mississippi,Product 4,99,9,891,on-time,no,(5) very high
5755,12/30/2019,Organic,Georgia,Product 2,199,9,1791,delayed,no,(4) high
5756,12/30/2019,Ad,South Carolina,Product 1,499,2,998,delayed,no,(3) ok
5757,12/30/2019,Ad,South Carolina,Product 2,199,3,597,on-time,yes,(4) high
5758,12/30/2019,Ad,Alabama,Product 3,299,6,1794,on-time,no,(4) high
5759,12/30/2019,Returning,Georgia,Product 4,99,5,495,delayed,no,(3) ok
5760,12/30/2019,Ad,Florida,Product 5,399,1,399,on-time,no,(3) ok
5761,12/30/2019,Organic,North Carolina,Product 1,499,5,2495,delayed,no,(5) very high
5762,12/30/2019,Ad,Mississippi,Product 5,399,5,1995,delayed,no,(3) ok
5763,12/30/2019,Organic,Tennessee,Product 5,399,2,798,on-time,no,(2) low
5764,12/30/2019,Ad,South Carolina,Product 5,399,1,399,delayed,yes,(4) high
5765,12/30/2019,Ad,South Carolina,Product 5,399,10,3990,on-time,no,(2) low
5766,12/30/2019,Returning,North Carolina,Product 3,299,4,1196,on-time,no,(2) low
5767,12/30/2019,Ad,Georgia,Product 4,99,7,693,on-time,no,(2) low
5768,12/30/2019,Organic,Tennessee,Product 2,199,1,199,on-time,yes,(3) ok
5769,12/30/2019,Ad,Georgia,Product 2,199,9,1791,on-time,no,(4) high
5770,12/30/2019,Ad,Alabama,Product 3,299,2,598,delayed,no,(5) very high
5771,12/30/2019,Organic,Tennessee,Product 2,199,9,1791,on-time,no,(5) very high
5772,12/30/2019,Ad,Mississippi,Product 2,199,10,1990,on-time,no,(3) ok
5773,12/30/2019,Returning,South Carolina,Product 5,399,1,399,on-time,no,(3) ok
5774,12/30/2019,Ad,Mississippi,Product 1,499,9,4491,delayed,no,(5) very high
5775,12/30/2019,Returning,Florida,Product 5,399,9,3591,on-time,no,(1) very low
5776,12/31/2019,Organic,Georgia,Product 4,99,6,594,on-time,no,(3) ok
5777,12/31/2019,Ad,South Carolina,Product 5,399,4,1596,on-time,no,(4) high
5778,12/31/2019,Returning,Tennessee,Product 1,499,3,1497,delayed,yes,(3) ok
5779,12/31/2019,Returning,Alabama,Product 2,199,6,1194,on-time,no,(4) high

In [16]:
import numpy as np 
df["Price_Medium"] = np.where(df["Price"] < 200, "Low Price ",np.where(df["Price"] == 499, "High Price","Medium Price"))
df

,Date,Customer Acquisition Type,State,Product,Price,Units,Revenue,Delivery Performance,Return,Customer Satisfaction,Price_Medium
0,1/1/2017,Ad,Florida,Product 2,199,4,796,on-time,no,(2) low,Low Price
1,1/1/2017,Returning,North Carolina,Product 3,299,9,2691,on-time,no,(1) very low,Medium Price
2,1/2/2017,Organic,Mississippi,Product 2,199,6,1194,on-time,no,(3) ok,Low Price
3,1/3/2017,Organic,Florida,Product 4,99,3,297,delayed,no,(2) low,Low Price
4,1/3/2017,Returning,Mississippi,Product 2,199,7,1393,on-time,no,(3) ok,Low Price
5,1/3/2017,Returning,Florida,Product 1,499,6,2994,delayed,no,(2) low,High Price
6,1/3/2017,Organic,Georgia,Product 2,199,4,796,on-time,yes,(3) ok,Low Price
7,1/3/2017,Organic,South Carolina,Product 4,99,5,495,on-time,no,(3) ok,Low Price
8,1/3/2017,Organic,South Carolina,Product 3,299,1,299,on-time,yes,(4) high,Medium Price
9,1/3/2017,Ad,Georgia,Product 5,399,7,2793,on-time,no,(5) very high,Medium Price
10,1/3/2017,Returning,Mississippi,Product 5,399,1,399,on-time,yes,(3) ok,Medium Price
11,1/3/2017,Ad,Alabama,Product 3,299,4,1196,on-time,no,(5) very high,Medium Price
12,1/3/2017,Returning,North Carolina,Product 2,199,4,796,on-time,no,(3) ok,Low Price
13,1/3/2017,Ad,Alabama,Product 1,499,10,4990,on-time,no,(3) ok,High Price
14,1/3/2017,Returning,Alabama,Product 4,99,6,594,on-time,no,(4) high,Low Price
15,1/3/2017,Organic,Georgia,Product 1,499,1,499,on-time,no,(3) ok,High Price
16,1/3/2017,Organic,South Carolina,Product 4,99,5,495,on-time,no,(2) low,Low Price
17,1/4/2017,Ad,North Carolina,Product 4,99,5,495,on-time,no,(4) high,Low Price
18,1/5/2017,Organic,Florida,Product 1,499,10,4990,delayed,no,(4) high,High Price
19,1/5/2017,Returning,South Carolina,Product 4,99,3,297,delayed,no,(3) ok,Low Price
20,1/6/2017,Organic,South Carolina,Product 3,299,3,897,on-time,no,(3) ok,Medium Price
21,1/6/2017,Returning,Florida,Product 4,99,10,990,on-time,no,(5) very high,Low Price
22,1/6/2017,Ad,Mississippi,Product 1,499,10,4990,on-time,no,(4) high,High Price
23,1/6/2017,Organic,Mississippi,Product 1,499,1,499,on-time,no,(1) very low,High Price
24,1/6/2017,Ad,Tennessee,Product 5,399,7,2793,on-time,yes,(3) ok,Medium Price
25,1/6/2017,Ad,Florida,Product 1,499,5,2495,on-time,no,(3) ok,High Price
26,1/6/2017,Ad,South Carolina,Product 4,99,5,495,on-time,no,(3) ok,Low Price
27,1/6/2017,Organic,South Carolina,Product 3,299,3,897,on-time,no,(2) low,Medium Price
28,1/6/2017,Organic,Florida,Product 4,99,7,693,on-time,no,(2) low,Low Price
29,1/6/2017,Returning,North Carolina,Product 1,499,8,3992,on-time,no,(4) high,High Price
...,...,...,...,...,...,...,...,...,...,...,...
5750,12/27/2019,Ad,Florida,Product 1,499,5,2495,delayed,no,(3) ok,High Price
5751,12/28/2019,Returning,Georgia,Product 4,99,4,396,on-time,no,(2) low,Low Price
5752,12/29/2019,Ad,Alabama,Product 5,399,5,1995,on-time,no,(4) high,Medium Price
5753,12/30/2019,Organic,North Carolina,Product 5,399,7,2793,delayed,no,(3) ok,Medium Price
5754,12/30/2019,Ad,Mississippi,Product 4,99,9,891,on-time,no,(5) very high,Low Price
5755,12/30/2019,Organic,Georgia,Product 2,199,9,1791,delayed,no,(4) high,Low Price
5756,12/30/2019,Ad,South Carolina,Product 1,499,2,998,delayed,no,(3) ok,High Price
5757,12/30/2019,Ad,South Carolina,Product 2,199,3,597,on-time,yes,(4) high,Low Price
5758,12/30/2019,Ad,Alabama,Product 3,299,6,1794,on-time,no,(4) high,Medium Price
5759,12/30/2019,Returning,Georgia,Product 4,99,5,495,delayed,no,(3) ok,Low Price
5760,12/30/2019,Ad,Florida,Product 5,399,1,399,on-time,no,(3) ok,Medium Price
5761,12/30/2019,Organic,North Carolina,Product 1,499,5,2495,delayed,no,(5) very high,High Price
5762,12/30/2019,Ad,Mississippi,Product 5,399,5,1995,delayed,no,(3) ok,Medium Price
5763,12/30/2019,Organic,Tennessee,Product 5,399,2,798,on-time,no,(2) low,Medium Price
5764,12/30/2019,Ad,South Carolina,Product 5,399,1,399,delayed,yes,(4) high,Medium Price
5765,12/30/2019,Ad,South Carolina,Product 5,399,10,3990,on-time,no,(2) low,Medium Price
5766,12/30/2019,Returning,North Carolina,Product 3,299,4,1196,on-time,no,(2) low,Medium Price
5767,12/30/2019,Ad,Georgia,Product 4,99,7,693,on-time,no,(2) low,Low Price
5768,12/30/2019,Organic,Tennessee,Product 2,199,1,199,on-time,yes,(3) ok,Low Price
5769,12/30/2019,Ad,Georgia,Product 2,199,9,1791,on-time,no,(4) high,Low Price
5770,12/30/2019,Ad,Alabama,Product 3,299,2,598,delayed,no,(5) very high,Medium Price
5771,12/30/2019,Organic,Tennessee,Product 2,199,9,1791,on-time,no,(5) very high,Low Price
5772,12/30/2019,Ad,Mississippi,Product 2,199,10,1990,on-time,no,(3) ok,Low Price
5773,12/30/2019,Returning,South Carolina,Product 5,399,1,399,on-time,no,(3) ok,Medium Price
5774,12/30/2019,Ad,Mississippi,Product 1,499,9,4491,delayed,no,(5) very high,High Price
5775,12/30/2019,Returning,Florida,Product 5,399,9,3591,on-time,no,(1) very low,Medium Price
5776,12/31/2019,Organic,Georgia,Product 4,99,6,594,on-time,no,(3) ok,Low Price
5777,12/31/2019,Ad,South Carolina,Product 5,399,4,1596,on-time,no,(4) high,Medium Price
5778,12/31/2019,Returning,Tennessee,Product 1,499,3,1497,delayed,yes,(3) ok,High Price
5779,12/31/2019,Returning,Alabama,Product 2,199,6,1194,on-time,no,(4) high,Low Price

In [29]:
df.groupby("State")["Revenue"].agg("mean")
df.groupby("Customer Acquisition Type").mean()

                                Price     Units      Revenue
Customer Acquisition Type
Ad                         298.243189  5.405651  1637.833502
Organic                    299.205444  5.583462  1670.790447
Returning                  302.997839  5.481902  1667.559697

In [31]:
df.groupby(["State","Customer Acquisition Type"])["Price"].agg(["sum","mean"])

                                            sum        mean
State          Customer Acquisition Type
Alabama        Ad                         86722  311.949640
               Organic                    79133  296.378277
               Returning                  78742  305.201550
Florida        Ad                         85517  302.180212
               Organic                    84320  301.142857
               Returning                  85504  288.864865
Georgia        Ad                         85407  291.491468
               Organic                    85417  301.826855
               Returning                  82835  312.584906
Mississippi    Ad                         85109  292.470790
               Organic                    79527  291.307692
               Returning                  73657  303.115226
North Carolina Ad                         84119  299.355872
               Organic                    75940  292.076923
               Returning                  82035  309.566038
South Carolina Ad                         84622  304.395683
               Organic                    92991  300.941748
               Returning                  80232  299.373134
Tennessee      Ad                         79622  286.410072
               Organic                    85225  309.909091
               Returning                  77844  304.078125

In [48]:
df["Date"] = pd.to_datetime(df["Date"])
df.dtypes
new = df.groupby("State").agg({"Date":["max","min"],"Price":["mean"]})
new.reset_index(inplace = True)
new.columns = ["STATE","LATE DATE", "EARLY DATE", "MEAN PRICE"]
new.to_csv("new.csv")