In [70]:
import pandas as pd 
df = pd.read_csv('StudentsPerformance.csv')
df.head()

,Gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [71]:
df.isna().sum()

Gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [77]:
df = pd.get_dummies(df)
df1 = df.drop(['math score','reading score','writing score'], axis = 'columns')
#df1 = df1.drop(['Gender _female','race/ethnicity_group A','parental level of education_some college','lunch_free/reduced','test preparation course_completed'], axis = 'columns')
df1.head()

,Gender _male,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school,lunch_standard,test preparation course_none
0,0,1,0,0,0,1,0,0,0,0,1,1
1,0,0,1,0,0,0,0,0,1,0,1,0
2,0,1,0,0,0,0,0,1,0,0,1,1
3,1,0,0,0,0,0,0,0,0,0,0,1
4,1,0,1,0,0,0,0,0,1,0,1,1

In [78]:
df2 = df[['math score','reading score','writing score']]
df2.head()

   math score  reading score  writing score
0          72             72             74
1          69             90             88
2          90             95             93
3          47             57             44
4          76             78             75

In [79]:
X = df1
y = df2

In [80]:
from sklearn.linear_model import LinearRegression 
model = LinearRegression()

In [81]:
model.fit(X,y)

LinearRegression()

In [82]:
model.predict([[0,1,0,0,0,0,1,0,0,0,1,1]])

array([[60.2507198, 67.5865845, 65.463995 ]])

In [83]:
model.score(X,y)

0.272021632927194

In [91]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 42)

In [92]:
model.fit(X_train, y_train)

LinearRegression()

In [93]:
model.predict([[0,1,0,0,0,0,1,0,0,0,1,1]])

array([[60.83325793, 67.77388553, 65.81698913]])

In [87]:
model.score(X_test, y_test)

0.2506813219780965

In [50]:
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [61]:
from sklearn.model_selection import cross_val_score
scores = []
prediction = []
cross_score = []
model = [LinearRegression(), DecisionTreeRegressor(), RandomForestRegressor()]
for m in model:
    m.fit(X_train, y_train)
    scores.append(m.score(X_test, y_test))
    prediction.append(m.predict([[0,1,0,0,0,0,1,0,0,0,1,1]]))
    cross_score.append(cross_val_score(m, X_train, y_train, cv = 5))
print(scores)
print(prediction)
print(cross_score)

[0.3023056645629415, -0.04907019845381425, 0.051683787447130536]
[array([[65.52151571, 73.21745619, 73.46706783]]), array([[64.66666667, 78.33333333, 77.33333333]]), array([[64.43437302, 77.64142857, 76.66894841]])]
[array([0.15575742, 0.18303109, 0.19159329, 0.20898967, 0.31706739]), array([-0.04939253, -0.17536192, -0.16010302,  0.03718307,  0.00657865]), array([ 0.02432549, -0.05703192, -0.03449273,  0.11356103,  0.11648042])]

In [88]:
from sklearn.metrics import mean_squared_error 
y_pred = model.predict(X_test)

In [90]:
mse = mean_squared_error(y_test, y_pred)
mse

186.20589611943603

In [95]:
model.score(X_test, y_test)

0.19971068034326048